%h1 My Lists

- if current_user
  %p Showing lists for #{current_user.email}

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th
      %th

  %tbody
    - @lists.each do |list|
      %tr
        %td= link_to list.name, list
        %td=link_to 'Edit', edit_list_path(list)
        %td=link_to 'Delete', list, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=link_to 'Add a list', new_list_path, class: 'btn btn-primary btn-sm'
