%h1 #{@list.name}
%br

-@list.tasks.each do |task|
  %tr
    %td=task.name
    %td=task.completed
    %td=link_to 'Show', task
    %td=link_to 'Edit', edit_task_path(task)
    %td=link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
=link_to "Add a Task", new_task_path
=link_to 'Back', tasks_path
