%h2 Sign In
%form{action: session_url, method: "post"}
  / auth_token_input can be viewed in ./helpers/application_helpers.rb
  = auth_token_input
  
  %label{for: "user_username"}
    Username
  %input#user_username{name: "user[username]", type: "text", value: ""}/
  %label
    Password
    %input{name: "user[password]", type: "password", value: ""}/
  %input{type: "submit", value: "Sign In"}/
