%h3 Filter
-# link_tos that use either existing or custom routes/methods
=link_to 'Incomplete', :controller => :tasks, :action => :index
=link_to 'Completed', :tasks_completed
=link_to 'All', :tasks_all
