=form_for @task do |f|
  -if @task.errors.any?
    #error_explanation
      %h2="#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        -@task.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.label :name
    =f.text_field :name
  .field
    =f.label :select_list
    =f.select :list_id, current_user.lists.collect{|l| [l.name, l.id] }, { include_blank: true }
  .actions
    =f.submit 'Save'
