=form_for @task do |f|
  -if @task.errors.any?
    #error_explanation
      %h2="#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        -@task.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.label :name
    =f.text_field :name
  .field
    =f.label :list
    =f.select :list_id, List.all.map { |l| [l.name, l.id] }, { include_blank: true}
  -if @task.persisted?
    .field
      =f.label :completed
      =f.check_box :completed
  -else
    =f.hidden_field :completed, value: false
  .actions
    =f.submit 'Save'
