=form_for @task do |f|
  -if @task.errors.any?
    #error_explanation
      %h2="#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        -@task.errors.full_messages.each do |msg|
          %li= msg

  .field
    =f.label :name
    =f.text_field :name
  .field{:class => "#{current_page?(new_task_path) ? 'display-none' : ''}"}
    =f.label :completed
    =f.check_box :completed
  .field
    =f.label :list_id, 'List ID'
    =f.text_field :list_id

    -# had trouble getting dropdown working, so using text_field above for list_id for now...
    -# .field
    -#   =f.label :list_id, 'List'
    -#   =f.select :list_id, [[1, true], [5, false]]

  .actions
    =f.submit 'Save'
