%h1=@task_type + " Tasks"
%h2
  -if @has_completed_tasks
    =link_to "Completed", tasks_index_path(completed: "completed")
  -if @has_incompleted_tasks
    =link_to "Incompleted", tasks_index_path(completed: "incompleted")
  =link_to "All", tasks_index_path(completed: "all")
%table
  %thead
    %tr
      %th Name
      %th Completed
      %th
      %th
      %th

  %tbody
    - @tasks.each do |task|
      %tr
        %td=task.name
        %td=task.completed
        %td=link_to 'Show', task
        %td=link_to 'Edit', edit_task_path(task)
        %td=link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

=link_to 'Add a task', new_task_path
