-if user_signed_in?

	%div{:class => 'container lists-box'}
		.tasks
			%h1 My Tasks

	=render 'pending'



	
	= form_for :list, :url => {:controller => 'lists', :action => 'create', :method => 'post'} do |f|
		%div{class: 'modal fade show', id: 'exampleModal', tabindex: '1', role: 'dialog', aria:{hidden: 'true', labelledby:'hidden'}}
			%div{class: 'modal-dialog modal-dialog-centered', role:'document'}
				%div{class: 'modal-content'}
					%div{class: 'modal-header'}
						%h5{class: 'modal-title', id: 'exampleModalTitle'}New List
						%button{type: 'button', class:'close', data: {dismiss: 'modal'}, area:{label:'Close'}}
							%span{area: {hidden:'true'}}
					%div{class: 'modal-body'}
						%p Please enter a list name to create a new list.
						%input{type: 'text', class:'form-control list-name', name: "name"}
						%input{:type=> "hidden", :name => "user_id", :value => @user.id}
					%div{class:'modal-footer'}
						%button{type: 'button', class:'btn btn-danger', data:{dismiss:'modal'}}Cancel
						%button{type:'submit', class: 'btn btn-primary', name: 'submit'}Create List

	.container.list-card-box
		=render 'lists/card'
	%button{ type: 'button', class: 'btn list-button',  id:'modal', data: {toggle: 'modal', target: '#exampleModal'}}+

-else

	=render 'landing'






