%h1 Tasks

.card
  = form_with url: tasks_url, method: :get, class: "tasks-filter" do |form|
    = form.select :completed,
                  options_for_select(%w[completed incomplete], params[:completed]),
                  { prompt: "Filter tasks" },
                  onchange: "this.form.submit()"
  = render @tasks

= link_to 'Add a task', new_task_path, class: "btn"
