%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed

%h2 History
- if @task.audits.any?
  .audits
    = render @task.audits


=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path
