%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed

%p
  %b Actions:
  %p
    - @task.versions.each do |version|
      =version.event
      =version.created_at
      %br

=link_to 'Edit', edit_list_task_path(@list, @task)
\|
=link_to 'Back', list_tasks_path(@list)
