%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed
%p
  %b History:
  -@task.versions.each do |version|
    %ul
      %li=version.description
      %li=version.updated_at.localtime.strftime("%a %b %d at %I:%M %p")

=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path
