%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed

%button{:class =>'badge badge-light badge-pill text-light'}=link_to 'Edit', edit_task_path(@task)
\|
%button{:class =>'badge badge-light badge-pill text-light'}=link_to 'Back', tasks_path
