%p#notice=notice

%p
  %b Name:
  =@task.name
%p
  %b Completed:
  =@task.completed
%p
  %b History Changes:
  - histories=@task.histories.order(:created_at).reverse_order
  - for history in histories do
    %p= "Task Name: "+ history.name+", Completed Status: "+history.completed.to_s


=link_to 'Edit', edit_task_path(@task)
\|
=link_to 'Back', tasks_path
