%h1 Sign Up

%form
  = label :user, :email, "Email"
  = text_field :user, :email
  = label :user, :password
  = password_field :user, :password
  %input{:type => "submit", :value => "Sign in"}

%br
=link_to "Log In", new_session_path
