html {
	height: 100%;
	background: #fafafa;
	font-family: 'Roboto', sans-serif;
}

body {
	width: 100%;
	margin: 0 auto;
	font-size: 12px;
	height: 100%;
}

img {
	width: 30px;
	height: 20px;
}

header {
	background: #FFFFFF;
}

#root {
	height: 100%;
}

#app {
	height: 100%;
	overflow: scroll;
}
