/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   text-decoration: none;
   border: 2px solid black;
   border-radius: 5px;
   padding: 2px;
   margin: 2px;
   text-align: center;
 }

 table {
     border-collapse: collapse;
 }

 table, th, td {
     border: 2px solid black;
 }

td {
  background-color: #e8e9ed;
}

 th, td {
   padding: 5px;
   text-align: center;
 }

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.spread_evenly {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.fit_content {
  width: fit-content;
  height: fit-content;
}
