%table
  %tbody
    - if user_signed_in?
      %tr
        %td="Logged in (#{current_user.email})"
        %td=link_to 'Logout', destroy_user_session_path, :method => :delete, :data => { :confirm => 'Are you sure you want to log out?' }
%hr