%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    %a.navbar-brand{href: root_url} TODO
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", href: root_url} Lists
        %li.nav-item
          %a.nav-link{href: "#"} Audit Trail
        %li.nav-item
          %a.nav-link.disabled{"aria-disabled" => "true", href: "#", tabindex: "-1"}= current_user.email
