!!! 5
%html
  %head
    %title Todo
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    %nav
      -if user_signed_in?
        =link_to 'Sign Out', {:action=>"destroy", :controller=>"devise/sessions"}, method: :delete
      -else
        =link_to 'Sign In', new_user_session_path
        =link_to 'Sign Up', new_user_registration_path

    =yield

    %p{:class => 'notice'}=notice
    %p{:class => 'alert'}=alert
