!!! 5

%html
  %head
    %title Todo
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    - if logged_in?
      = current_user.username
      %form{action: session_url, method: "post"}
        = auth_token_input
        %input{name: "_method", type: "hidden", value: "delete"}/
        %input{type: "submit", value: "Sign Out"}/
    - else
      %a{href: new_session_url} Sign In
      %a{href: new_user_url} Sign Up
    %br/
    = yield
