!!! 5
%html
  %head
    %title Todo
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
  %body
    %nav
      %h1 TodoApp
      %ul
        -if current_user
          %li=link_to "log out", "/logout", method: :delete
          %li=link_to "tasks", tasks_path
        -else
          %li=link_to "sign up", new_user_path
          %li=link_to "log in", new_session_path

    =yield
