!!! 5
%html
  %head
    %title Todo
    %link{:rel => 'stylesheet', :href => 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'} 
    =stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    %script{:type =>'text/javascript', :src => 'https://code.jquery.com/jquery-3.3.1.slim.min.js'}
    %script{:type =>'text/javascript',:src =>'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'}
    %script{:type =>'text/javascript', :src =>'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'}
    
    =javascript_include_tag 'application', 'data-turbolinks-track' => true

    =csrf_meta_tags
  %body
    %header{:class => 'navbar navbar-light bg-light'}
      %a{:class => 'navbar-brand', href:'/'}Organizer
      -if !user_signed_in?
        %a{:href => '/users/sign_up'}Register
        %a{:href => '/users/sign_in'}Login
      -else user_signed_in?
        / %a{:href => '/users/sign_out'}Logout
        %a{}=link_to 'Sign out', destroy_user_session_path, :method => :delete




    =yield
    
